*{
    padding: 0;
    margin: 0;
}
body{background: wheat;overflow: hidden;}

ol, ul {list-style: none;}

.container{
    padding: 100px 0;
    width: 100%;
    height: 100vh;
}

.wrap{
    max-width: 720px;
    margin: 0 auto;
}

.header{margin-bottom: 100px;}

.body ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.body ul li { position: relative; cursor: pointer; padding:10px 0; border-bottom: 1px solid #999;}
.body ul li .content {display: grid; grid-template-columns: 10% 15% minmax(150px, 25%) 25% 25%;  pointer-events: none;  }
.body ul li .content > div {padding: 10px 0;}
/* .body ul li div:nth-child(3){display: none;} */

.icon-wrap{display: flex; align-items: center;}
.icon-wrap div{width: 20px; height: 20px;}
.icon1 svg path{fill: #999;}
.icon2{margin-left: -11px; z-index: -1; }
.icon2 svg path{fill: white; }

.content-img img {width: 100%; height: auto; display: block; }
.content-img {
    position: absolute; 
    opacity: 0;
    max-width: 200px;
    min-width: 200px;
    top: 60%;
    left: 40%;pointer-events: none;
    z-index: 1;
}

@media (max-width: 860px){
    .wrap {
        max-width: inherit;
        margin: 0 24px;
    }
}
